<%= form_with model: @point do |form| %>
    <%= form.hidden_field :layer_id, value: @layer.id %>
    <%= form.hidden_field :annonymous, value: "true" if @annonymous %>
    <% @layer.fields.each do |field| %>
        <div class="field">
            <%= form.label field.id, field.label, class: "label" %>
            <div class="control">
                <%= form.text_field field.id, class: "input", value: @values[field.id] %>
            </div>
        </div>
    <% end %>
    <div class="control">
        <%= form.submit "Sauvegarder", class: "button is-link" %>
    </div>
<% end %>
