<%= form_with model: Point.new do |form| %>
  <%= form.hidden_field :layer_id, value: @layer.id %>
  <div class="field">
    <%= form.label "Longitude" %>
    <%= form.number_field :longitude %>
  </div>
  <div class="field">
    <%= form.label "Latitude" %>
    <%= form.number_field :latitude %>
  </div>

  <turbo-frame id="fields-form">
    <% @layer.fields.each do |field| %>
      <%= render "fields/field_in_form", field: field, geometry_type: "point" %>
    <% end %>
  </turbo-frame>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
