<tr id="<%= dom_id(point) %>"
    class="point-row"
    data-map-target="point"
    data-lng="<%= point.geog.x %>"
    data-lat="<%= point.geog.y %>"
>
    <td><%= point.geog.x.truncate(5) %>; <%= point.geog.y.truncate(5) %></td>
    <% point.layer.fields.each do |field| %>
        <td class="field-<%= field.id %>"><%= point.fields[field.id] %></td>
    <% end %>
    <td class="delete-point"><%= button_to point, method: :delete do %><%= fa_icon "trash-o" %> <% end %></td>
</tr>
