<tr id="<%= dom_id(point) %>"
    class="point-row"
    data-map-target="point"
    data-lng="<%= point.geog.x %>"
    data-lat="<%= point.geog.y %>"
>
    <% point.layer.fields.each do |field| %>
        <td class="field-<%= field.id %> <%= "numerical" if field.numerical? %>"><%= render partial: "fields/field_in_form", locals: {field: field, value: point.fields[field.id]} %></td>
    <% end %>
    <td>
        <%= button_to point, method: :delete, class: "button is-white p-2" do %>
            <span class="icon"><%= fa_icon "trash-o" %></span>
        <% end %>
    </td>
</tr>
