<% if files.present? %>
  <div class="files-collection">
    <% files.each do |file| %>
      <%= link_to url_for(file), class: "files-item", target: "_blank", rel: "noopener" do %>
        <% if file.representable? %>
          <%= image_tag file.representation(resize_to_limit: [200, 200]), class: "files-item--preview" %>
        <% else %>
          <%= helpers.embedded_svg "file.svg", class: "icon--extra-large" %>
        <% end %>
        <div class="files-item--title">
          <%= file.filename %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if helpers.policy(@row).update? && !@field.locked? %>
  <div class="form__field">
    <div data-controller="camera-feature-detection file-list" class="form__field form__field--file">
      <label>
        <span class="button button--with-icon button--alternate">
          <%= t "field.take_picture" %>
          <%= helpers.embedded_svg "camera.svg", class: "icon--small" %>
          <input
            type="file"
            name="<%= field_name %>"
            accept="image/*"
            capture="environment"
            data-file-list-target="input"
            data-action="change->file-list#update"
            multiple
            hidden>
        </span>
      </label>
      <span data-file-list-target="list"></span>
    </div>

    <div data-controller="file-list" class="form__field form__field--file">
      <label>
        <span class="button button--with-icon button--alternate">
          <%= t "field.attach_file" %>
          <%= helpers.embedded_svg "upload-cloud.svg", class: "icon--small" %>
          <input
            type="file"
            name="<%= field_name %>"
            data-file-list-target="input"
            data-action="change->file-list#update"
            multiple
            hidden>
        </span>
      </label>
      <span data-file-list-target="list"></span>
    </div>
  </div>
<% end %>
