
<button
  class="button button--slim button--link button--with-icon"
  data-modal-id-param="<%= id %>"
  data-action="click->modal#show">
  <span><%= Row.human_attribute_name(:files, count: @value.length) %></span>
</button>
<template id="<%= id %>">
  <%= form_with method: :patch, model: [@row.layer, @row], multipart: true, html: {class: "form"} do |f| %>
    <%= hidden_field_tag "context", "modal" %>
    <div class="card__main-content">
      <h3><%= t "field.existing_attachments" %></h3>
      <% @value.each do |file| %>
        <%= link_to file.filename, url_for(file) %>
      <% end %>
      <h3><%= t "field.add_attachments" %></h3>
      <label
        data-controller="feature-detection file-list"
        data-feature-detection-tag-value="input"
        data-feature-detection-attribute-value="capture">
        <span class="button button--slim button--with-icon button--alternate">
          <%= t "field.take_picture" %>
          <%= helpers.embedded_svg "camera.svg", class: "icon--small" %>
          <input
            type="file"
            name="<%= @field_name %>"
            accept="image/*"
            capture="environment"
            data-file-list-target="input"
            data-action="change->file-list#update"
            multiple
            hidden>
        </span>
        <ul data-file-list-target="list" class="field-form__file-input__file-list"></ul>
      </label>
      <label data-controller="file-list">
        <span class="button button--slim button--with-icon button--alternate">
          <%= t "field.attach_file" %>
          <%= helpers.embedded_svg "upload-cloud.svg", class: "icon--small" %>
          <input
            type="file"
            name="<%= @field_name %>"
            data-file-list-target="input"
            data-action="change->file-list#update"
            multiple
            hidden>
        </span>
        <ul data-file-list-target="list" class="field-form__file-input__file-list"></ul>
      </label>
    </div>
    <div class="card__footer-content">
      <%= f.submit t("common.save"), class: "button button--confirm" %>
    </div>
  <% end %>
</template>
