<%# For now view components must be cached at the template level
https://github.com/ViewComponent/view_component/discussions/42#discussioncomment-2822874 %>
<% cache [@row, @row.layer.fields] do %>
  <tr
    id="<%= dom_id(@row) %>"
    class="<%= classes %>"
    data-controller="row"
    data-layer-target="row"
    data-map-target="row"
    data-action="focusin->map#highlight"
    data-row-properties-value="<%= @row.css_properties.to_json %>">

      <%= row_tag_calculated_data %>

      <% @row.fields_values.each do |field, value| %>
        <%= render FieldTdComponent.new(field: field, value: value, form_id: form_id, author_id: @row.author_id) %>
      <% end %>

    <td id="<%= dom_id(@row, "actions") %>" class="table-actions">
      <div class="table-actions__container">
        <%= button_to([@row.layer, @row], method: :delete, title: t("layers.layer.delete_row"), form: {data: {"turbo-confirm": t("common.confirm")}}) do %>
          <%= helpers.embedded_svg("remove_item.svg", class: "icon--sm") %>
        <% end %>
        <%= row_tag_form %>
        <button
          title="<%= t("layers.layer.center_on_row") %>"
          data-action="map#center"
          data-map-bounds-param="<%= @row.bounding_box.to_json %>">
          <%= helpers.embedded_svg("center.svg", class: "icon--sm") %>
        </button>
      </div>
    </td>
  </tr>
<% end %>
