<%= form_with model: [access_group.map, access_group] do |form| %>
  <h3 class="form__header"><%= t(".header") %></h3>

  <div class="list-element__row list-element__row--grid">
    <div class="form__field">
      <%= form.label :role_type %>
      <%= form.select :role_type, options_for_select(AccessGroup.role_types.map { |access_group| [AccessGroup.human_attribute_name(access_group[0]), access_group[1]] }, access_group.role_type) %>
    </div>

    <div class="form__field">
      <%= form.fields_for :users do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
      <% end %>
    </div>

    <div class="form__field">
      <%= form.button class: "button button--confirm" do %>
        <%= t("helpers.submit.access_group.create") %>
      <% end %>
    </div>
  </div>
<% end %>
