<div class="card__main-content card--large">
  <h2 class="form__header"><%= t("activerecord.attributes.map.access_groups") %></h2>
  <nav class="buttons-bar">
    <%= active_link_to t(".user_specific"), map_access_groups_path(@map, scope: "user_specific"),
          class: "button", class_active: "button--confirm", class_inactive: "button--link", active: :exact %>
    <%= active_link_to t(".with_token"), map_access_groups_path(@map, scope: "with_token"),
          class: "button", class_active: "button--confirm", class_inactive: "button--link", active: :exact %>
  </nav>

  <%= render @access_groups.includes(:users) %>

  <%= render @new_group %>
</div>
