<nav class="navbar">
  <%= link_to @map, class: "button button--link" do %>
    <%= embedded_svg "chevron_gauche.svg", class: "icon--narrow icon--tinted" %>
    <%= t("common.back") %>
  <% end %>
</nav>
<div class="container">
  <div class="section">
    <h2 class="section__title"><%= AccessGroup.model_name.human(count: 2) %></h2>
    <ul>
      <%= render @access_groups %>

      <%= render AccessGroup.new(map: @map, users: [User.new]) %>

      <%= render AccessGroup.new(map: @map, token: Devise.friendly_token.first(16)) %>
    </ul>
  </div>
</div>
