<div>
  <div class="main-actions">
    <%= link_to t("common.back"), @map %>
  </div>
  <div class="main-list">
    <h2><%= AccessGroup.model_name.human(count: 2) %></h2>

    <div id="roles">
      <%= render @access_groups %>
      <h3><%= t(".new") %></h3>
      <%= render AccessGroup.new(map: @map, users: [User.new]) %>

      <h3><%= t(".new_link") %></h3>
      <%= render AccessGroup.new(map: @map, token: Devise.friendly_token.first(16)) %>
    </div>
  </div>
</div>
