<div class="main-actions">
  <%= link_to t("common.back"), @map %>
</div>
<div class="container">
  <section class="section roles">
    <h2 class="section__title"><%= AccessGroup.model_name.human(count: 2) %></h2>

    <div class="role__form">
      <%= render @access_groups %>
    </div>
    <div class="role__form">
      <h3 class="subsection__title"><%= t(".new") %></h3>
      <%= render AccessGroup.new(map: @map, users: [User.new]) %>
    </div>

    <div class="role__form">
      <h3 class="subsection__title"><%= t(".new_link") %></h3>
      <%= render AccessGroup.new(map: @map, token: Devise.friendly_token.first(16)) %>
    </div>
  </section>
</div>
