<%# params: @maps %>
<div class="container">
  <section class="section">
    <h2 class="section__title"><%= Map.model_name.human(count: 2) %></h2>
    <ul class="list">
      <% @maps.with_last_updated_row_id.includes(last_updated_row: :author).each do |map| %>
        <li class="list-element">
          <%= link_to map, class: "list-element__row list-element__row--link" do %>
            <div class="list-element__content">
              <h3 class="list-element__title"><%= map.name %></h3>
              <p class="list-element__description">
                <%= map.layers.size %> <%= Layer.model_name.human(count: map.layers.size) %>
                <%= updated_at_tag(map.last_updated_row, map.last_updated_row&.author) %>
              </p>
            </div>
            <div class="icon-button icon-button--large icon-button--dimmed"><%= embedded_svg "chevron_droite.svg" %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to t("helpers.link.map.new"), new_map_path, class: "button button--large button--confirm" %>
  </section>
</div>
