<%# params: @maps %>

<div class="main-list">
  <h2><%= Map.model_name.human(count: 2) %></h2>
  <% @maps.includes(:layers, :last_updated_row_author).each do |map| %>
    <%= link_to map, class: "no-decoration" do %>
    <div class="main-element">
      <h3><%= map.name %></h3>
      <p>
        <%= map.layers.size %> <%= Layer.model_name.human(count: map.layers.size) %>
        <%= updated_at_tag(map.last_updated_row, map.last_updated_row_author) %>
      </p>
      <div class="next"><%= embedded_svg "chevron_droite.svg" %></div>
    </div>
    <% end %>
  <% end %>
  <%= link_to t("helpers.link.map.new"), new_map_path, class: "primary-action" %>
</div>
