<%# params: @map %>

<div class="centered-main new-layer">
  <h2><%= t("helpers.link.map.new") %></h2>
  <%= form_with(model: @map) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= link_to t("common.back"), maps_path, class: "secondary-action" %>
      <%= form.submit class: "primary-action" %>
    </div>
  <% end %>
</div>
