<%# params: @map %>

<div class="main-list">
<h2><%= @map.name %></h2>
<% @map.layers.each do |layer| %>
  <div class="main-element">
    <h3><%= layer.name %></h3>
    <p>
      <span class="color-marker" style="background-color: <%= layer.color %>"></span>
      <%= layer.rows.count %> <%= Layer.human_attribute_name(layer.geometry_type, count: layer.rows.count) %>
      — <%= t :updated_the %> <%= l(layer.updated_at.to_date, format: :long) %> <%= t :by %> <%= current_user.email %>
    </p>

    <p>
      <%= link_to t("edit"), edit_layer_path(layer) %>
      —
      <%= link_to t("show"), layer %>
    </p>
  </div>
<% end %>

<%= link_to t("delete_map"), @map, data: {turbo_method: :delete, turbo_confirm: t("delete_confirm")}, class: "delete-action" %>
<%= link_to t("new_layer"), new_map_layer_path(@map), class: "primary-action" %>
