<%# params: @map %>
<%= turbo_stream_from @map %>
<%= turbo_stream_i18n_from @map %>
<nav class="navbar">
  <%= link_to maps_path, class: "button button--link" do %>
    <%= embedded_svg "chevron_gauche.svg", class: "icon--narrow icon--tinted" %>
    <%= t(".all_maps") %>
  <% end %>
  <%= render "name", map: @map %>
  <div class="buttons-bar buttons-bar--tight">
    <%= link_to t("common.share"), map_access_groups_path(@map), class: "button button--link" if policy(@map.access_groups.new).index? %>
    <%= link_to t("helpers.link.map.delete"), @map, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")}, class: "button button--link" if policy(@map).destroy? %>
  </div>
</nav>

<% content_for :left_pane do %>
  <div
    class="map-data__container"
    data-controller="layer-selection">
    <div id="<%= dom_id(@map, "layers") %>">
      <% @map.layers.includes(:fields).order(:created_at, :id).each do |layer| %>
        <% cache layer do %>
          <%= render layer %>
        <% end %>
      <% end %>
    </div>
    <footer class="footer__layer-list">
      <%= link_to t("helpers.link.layer.new"), new_map_layer_path(@map), class: "button button--large button--confirm", data: {turbo_frame: "modal"} if policy(@map).update? %>
    </footer>
  </div>
<% end %>

<% content_for :right_pane do %>
  <div class="map" data-map-target="map">
    <%= render "toolbar" %>
  </div>
<% end %>

<%= render "layouts/dragbar", map: @map, role_type: @role_type, current_user_id: current_user.id %>
