<%# params: @map %>
<div class="main-actions">
  <%= link_to t(".all_maps"), maps_path %>
  <div class="main-actions-right">
    <%= link_to t("common.share"), map_access_groups_path(@map) if policy(@map.access_groups.new).index? %>
    <%= link_to t("helpers.link.map.delete"), @map, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} if policy(@map).destroy? %>
  </div>
</div>
<div class="container">
  <section class="section section--small">
    <h2 class="section__title"><%= @map.name %></h2>
    <ul class="list">
      <% @map.layers.includes(:rows, :last_updated_row_author).each do |layer| %>
        <li class="list-element">
          <div class="list-element__content">
            <h3 class="list-element__title"><%= layer.name %></h3>
            <p class="list-element__description">
              <span class="color-marker" style="background-color: <%= layer.color %>"></span>
              <%= layer.rows.size %> <%= Layer.human_attribute_name(layer.geometry_type, count: layer.rows.size) %>
              <%= updated_at_tag(layer.last_updated_row, layer.last_updated_row_author) %>
            </p>

            <div class="list-element__actions">
              <%= link_to t("common.display"), layer_path(layer) %><%= link_to t("helpers.link.row.add_point"), new_layer_row_path(layer) if policy(layer).edit? && layer.geometry_point? %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <%= link_to t("helpers.link.layer.new"), new_map_layer_path(@map), class: "primary-action" if policy(@map).update? %>
  </section>
</div>
