<%# params: @map %>
<%= turbo_stream_from @map %>
<%= turbo_stream_i18n_from @map %>
<header class="main-actions">
  <%= link_to t(".all_maps"), maps_path %>
  <h2><%= @map.name %></h2>
  <div class="main-actions-right">
    <%= link_to t("common.share"), map_access_groups_path(@map) if policy(@map.access_groups.new).index? %>
    <%= link_to t("helpers.link.map.delete"), @map, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} if policy(@map).destroy? %>
  </div>
</header>

<div
  class="data-with-map"
  data-action="mousemove@window->dragbar#mousemove mouseup@document->dragbar#mouseup"
  data-controller="map dragbar restricted"
  data-map-default-longitude-value="<%= @map.default_longitude %>"
  data-map-default-latitude-value="<%= @map.default_latitude %>"
  data-map-default-zoom-value="<%= @map.default_zoom %>"
  data-restricted-role-value="<%= "#{@role_type}-#{current_user.id}" %>">
  <div class="data" data-dragbar-target="left">
    <div class="map-data__container">
      <% @map.layers.includes(:last_updated_row_author, :fields, rows: :territory).each do |layer| %>
        <div
          id="<%= layer.id %>"
          class="layer-table__container"
          data-controller="layer layer-switch"
          data-action="layer:center->map#centerToContent"
        >
          <header class="layer-table__header"
            data-map-geometry-type-param="<%= layer.geometry_type %>"
            data-map-color-param="<%= layer.color %>">
            <div class="layer-header__left-description">
              <%= embedded_svg "#{layer.geometry_type}.svg", class: "layer-header__icon", style: "color: #{layer.color}" %>
              <h3><%= layer.name %></h3>
            </div>
            <div class="layer-header__right-tools">
              <span class="layer-header__action"
                data-action="click->layer#center">
                <%= embedded_svg "frame.svg" %>
              </span>
              <button
                class="layer-table__chevron chevron"
                data-action="click->layer-switch#toggle click->map#layerToggle"
                data-map-layer-id-param="<%= layer.id %>"
                data-map-add-feature-text-param="<%= t(".add.#{layer.geometry_type}") %>"
                data-map-geometry-type-param="<%= layer.geometry_type %>"
                >
              </button>
            </div>
          </header>
          <div class="layer-dropdown-content" data-layer-switch-target="content">
            <%= render "layers/rows", layer: layer %>
            <footer class="layer-footer">
              <div class="layer-footer__icon">
                <%= link_to layer, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} do %>
                  <%= embedded_svg "delete.svg" %>
                <% end %>
              </div>
              <div class="layer-footer__icon">
                <%= link_to geojson_layer_path(layer), download: "#{layer.name}.geojson" do %>
                  <%= embedded_svg "export.svg" %>
                <% end %>
              </div>
            </footer>
          </div>
        </div>
      <% end %>
      <footer class="footer__layer-list">
        <%= link_to t("helpers.link.layer.new"), new_map_layer_path(@map), class: "primary-action new-layer-button" if policy(@map).update? %>
      </footer>
    </div>
  </div>
  <div class="dragbar" data-dragbar-target="dragbar" data-action="mousedown->dragbar#mousedown">
    <%= image_tag "dragbar_cursor.svg", alt: t("common.dragbar_cursor"), class: "svg-dragbar" %>
  </div>
  <div data-dragbar-target="right" class="right-pane">
    <div class="map" data-map-target="map">
      <%= render "toolbar" %>
    </div>
  </div>
</div>
</div>
