<div class="centered-main">
<h2> <%= t("devise.passwords.forgot_your_password") %> </h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: "form__container"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form_field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= f.submit t("devise.passwords.send_reset_password"), class: "form__button form__button--confirm" %>
  <%= render "devise/shared/links" %>
<% end %>

</div>
