<div class="card__main-content card__main-content--wide">
  <h2 class="form__header"><%= Import::Operation.model_name.human %></h2>

  <%= form_with model: [@operation.configuration.map, @operation], id: dom_id(@operation, :form), class: "form" do |form| %>

    <%= render "shared/errors", resource: @operation %>

    <div class="form__section">
      <label data-controller="file-list"
             class="button button--large button--with-icon import__drop-zone"
             data-action="dragover->file-list#drag_start dragenter->file-list#drag_start drop->file-list#drop dragleave->file-list#drag_leave"
             data-file-list-target="dropzone"
             data-file-list-types-value="<%= Import::Configuration.all_mimes.to_json %>">
        <%= embedded_svg "upload-cloud.svg", class: "icon--regular" %>
        <%= form.label :local_source_file %>
        <%= form.file_field :local_source_file, data: {file_list_target: "input"}, onchange: "this.form.requestSubmit()", hidden: true %>
      </label>

      <h3><%= t(".or") %></h3>

      <div class="form__field form__field--large">
        <%= form.label :remote_source_url %>
        <div class="form__input-with-button">
          <%= form.url_field :remote_source_url, placeholder: t(".url_placeholder") %>
          <%= form.button t("common.ok"), class: "button button--alternate" %>
        </div>
      </div>

      <label class="import__help">
        <%= t(".help_html") %>
      </label>
    </div>

    <%# Nest the map_id and layer_id hiddenf fields to create the right configuration objects %>
    <%= form.fields_for :configuration do |configuration_form| %>
      <%= configuration_form.hidden_field :map_id %>
      <%= configuration_form.fields_for :mappings do |mapping_form| %>
        <%= mapping_form.hidden_field :layer_id %>
      <% end %>
    <% end %>
  <% end %>
</div>
