<%= form_with model: [@map, @operation], html: {class: "form"} do |f| %>
  <div class="card__main-content">
    <h2 class="form__header"><%= Import::Operation.model_name.human %></h2>
    <div class="form__field">
      <p class="message message--attention"><%= t(".attention") %></p>
    </div>

    <div class="form__field">
      <%= render "shared/errors", resource: @operation %>
    </div>

    <div class="import_form--source-inputs">
      <div class="form__field">
        <h3 class="form__header"><%= t(".from_file") %></h3>
        <div data-controller="file-list" class="form__field form__field--file">
          <label>
          <span class="button button--with-icon button--link">
            <%= t ".from_file_csv" %>
            <%= embedded_svg "upload-cloud.svg", class: "icon--small" %>
            <%= f.file_field :local_source_file, data: {file_list_target: "input", action: "change->file-list#update"}, hidden: true %>
          </span>
          </label>
          <span data-file-list-target="list"></span>
        </div>
      </div>

      <span><%= t(".or") %></span>

      <div class="form__field">
        <h3 class="form__header"><%= t(".from_url") %></h3>
        <div class="form__field">
          <%= f.label :remote_source_url, t(".from_url_wfs") %>
          <%= f.url_field :remote_source_url %>
        </div>
      </div>
    </div>

    <%= f.fields_for :configuration do |f2| %>
      <%= f2.hidden_field :map_id %>

      <%= f2.fields_for :mappings do |f3| %>
        <%= f3.hidden_field :layer_id %>

        <div class="form__field">
          <%= f3.label :source_layer_name, t(".from_url_layer_name") %>
          <%= f3.text_field :source_layer_name %>
        </div>

        <details class="form__field form__field--large form__details">
          <summary class="form__details-summary">
            <%= f3.label t(".reimport") %>
          </summary>
          <div class="form__details-contents form__field">
            <div class="form__field form__field--inline">
              <%= f3.label :reimport_field_id, t(".key_field") %>
              <%= f3.select :reimport_field_id, f3.object.layer.fields.map { [_1.label, _1.id] }, include_blank: true %>
            </div>
            <label class="form__field">
              <i><%= t(".key_field_info_html") %></i>
            </label>
          </div>
        </details>
      <% end %>

    <% end %>

  </div>
  <div class="card__footer-content">
    <%= f.submit t(".save"), class: "button button--confirm" %>
  </div>
<% end %>
