<div class="<%= class_names("message", "message--info": result.success?, "message--error": !result.success?) %>">
  <h3 class="message__title"><%= result.success? ? t(".success") : t(".failure") %></h3>
  <%= result.global_error %>
  <%= t(".imported_rows", size: result.entity_results.size) if result.success? %>
  <ul class="message__list">
    <% result.entity_results.each_with_index do |result, line_number| %>
      <% if !result.did_save || result.parsing_error.present? || result.validation_errors.present? || result.validation_warnings.present? %>
      <li>
        <span><b><%= t(".line_number", line_number: line_number) %></b></span>
        <% unless result.did_save %>
          <span><%= t(".row_failure") %></span>
        <% end %>

        <% if result.parsing_error %>
          <p><code><%= result.parsing_error %></code></p>
        <% end %>

        <% if result.validation_errors %>
          <blockquote><%= result.validation_errors.full_messages.to_sentence %></blockquote>
        <% end %>

        <% if result.validation_warnings %>
          <blockquote><%= result.validation_warnings.full_messages.to_sentence %></blockquote>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
