<div class="container container--landing-page">
  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <p>
        <b>cocarto</b> est un outil de saisie <b>collaborative</b> de données <b>structurées</b> et <b>géospatialisées</b>.
      </p>
      Par exemple :
      <ul>
        <li>le parcours et les étapes d’une randonnée en Corse,</li>
        <li>le taux d’équipement automobile par département en 2019,</li>
        <li>les infrastructures cyclables dans le 19e à Paris.</li>
      </ul>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= image_tag("screenshots/map.jpg") %>
      <%= link_to "Créer mon compte", new_user_registration_path, class: "button button--large button--confirm landing-section__call-to-action" %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <span>Pas besoin d’être spécialiste pour créer une base de données <b>cohérente</b> et <b>réutilisable</b> :</span>
      <ul>
        <li>Une carte est composée de plusieurs couches d’objets géographiques homogènes : des points, tracés, polygones, territoires administratifs.</li>
        <li>Chaque couche définit des attributs typés : nombres, texte, dates, liste, booléens, images…</li>
      </ul>
      <p>
        cocarto garantit la <b>validité des données</b> saisies. Il est impossible de mettre du texte pour un attribut booléen ou un nombre.<br>
        Les territoires administratifs sont référencés : pas d’ambigüité sur le code postal ou INSEE, ou sur l’orthographe.
      </p>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= image_tag("screenshots/table.png") %>
      <%= link_to "Créer mon compte", new_user_registration_path, class: "button button--large button--confirm landing-section__call-to-action" %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <p>
        <b>cocarto</b> est pensé pour le travail d’équipe.
      </p>
      <p>
        Quand vous travaillez à plusieurs sur la même carte, les contributions des uns et des autres apparaissent en <b>temps réel</b>.<br>
        Vous contrôlez de façon précise qui peut accéder à vos données : en lecture seule, en écriture, ou en contribution ponctuelle…
      </p>
      À venir :
      <ul>
        <li>gestion de l’historique des modifications et retour en arrière ;</li>
        <li>import, export, réimport…</li>
        <li>et <a href="https://gitlab.com/CodeursEnLiberte/cocarto/-/issues" target="_blank">beaucoup d’autres choses</a>.</li>
      </ul>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= image_tag("screenshots/cooperation.png") %>
      <%= link_to "Créer mon compte", new_user_registration_path, class: "button button--large button--confirm landing-section__call-to-action" %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <p>
        <b>cocarto</b> est un logiciel <b>libre</b> et <b>open-source</b>.
        Vous pouvez travailler directement sur <a href="https://cocarto.com">cocarto.com</a>, ou bien installer le logiciel sur vos propres serveurs.
      </p>
      <p>
          cocarto est construit de façon <b>transparente</b> par <a href="https://www.codeursenlibertés.fr" target="_blank">Codeurs en Liberté</a>, notre petite société coopérative. Nous ne serons pas rachetés par un géant de la tech.
        Vous pouvez suivre le développement <a href="https://gitlab.com/codeursenliberte.fr/cocarto" target="_blank">sur la page du projet</a> ou via <a href="https://buttondown.email/cocarto" target="_blank">notre newsletter</a>.
      </p>
      <p>
        L’idée de cocarto nous est venue au contact de structures et d’administrations qui partagent des données, de façon plus ou moins artisanale et souvent inconfortable.
        Nous sommes à l’écoute des remarques !<br>
      </p>
      <p>
        <b><a href="mailto:bonjour@cocarto.com">Contactez-nous</a> pour nous faire part de vos idées.</b>
      </p>
    </div>
    <div class="landing-section__block landing-section__block--actions">
      <a href="https://gitlab.com/codeursenliberte/cocarto" target="_blank" class="icon-button icon-button--action">
        <%= embedded_svg("actions/gitlab.svg") %>
        <span>Source</span>

      </a>
      <a href="https://mapstodon.space/@cocarto" target="_blank" class="icon-button icon-button--action">
        <%= embedded_svg("actions/mastodon.svg") %>
        <span>Mastodon</span>

      </a>
      <a href="mailto:bonjour@cocarto.com" class="icon-button icon-button--action">
        <%= embedded_svg("actions/email.svg", style: "fill: var(--color-green-10)") %>
        <span>Contact</span>
      </a>
      <a href="https://buttondown.email/cocarto" target="_blank" class="icon-button icon-button--action">
        <%= embedded_svg("actions/newsletter.svg", style: "fill: var(--color-green-10)") %>
        <span>Newsletter</span>
      </a>
    </div>
  </div>
</div>
