<div
  id="<%= dom_id(layer) %>"
  class="layer-container"
  data-controller="layer"
  data-layer-layer-outlet=".layer-container.is-active"
  data-layer-map-outlet=".map_document__container"
  data-layer-add-feature-text-value="<%= t("common.add_geometry.#{layer.geometry_type}") %>"
  data-layer-geometry-type-value="<%= layer.geometry_type %>">

  <%= render "layers/table_header", layer: layer %>

  <div class="layer-contents">
    <%= render "layers/rows", layer: layer %>

    <%= render "rows/new", row: Row.new(layer: layer) %>

    <footer class="layer-footer">
      <div class="buttons-bar">
        <% if layer.geometry_point? %>
          <%= link_to new_layer_row_path(layer), title: t(".simplified_form_explanation"),
                class: "button button--slim button--link",
                target: "_blank", rel: "noopener",
                data: {restricted_target: "restricted", restricted_authorizations: '["owner", "editor", "contributor"]'} do %> <%# Cf policy(row).new? %>
            <%= t(".new_point_form") %>
          <% end %>
        <% end %>
        <%= link_to new_map_import_operation_path(layer.map, layer_id: layer), title: t("helpers.link.layer.import"),
              class: "icon-button icon-button--double-bordered icon-button--small",
              data: {turbo_frame: "modal",
                     restricted_target: "restricted", restricted_authorizations: '["owner", "editor", "contributor"]'} do %> <%# Cf policy(row).new? %>
          <%= embedded_svg "file-up.svg" %>
        <% end %>
        <div class="dropdown" data-controller="dropdown" data-action="click->dropdown#toggle" data-dropdown-target="trigger" title="<%= t("common.settings") %>">
          <button class="icon-button icon-button--double-bordered icon-button--small" title="<%= t("helpers.link.layer.export") %>">
            <%= embedded_svg "file-down.svg" %>
          </button>
          <div class="dropdown__content" data-dropdown-target="content">
            <div class="card__main-content">
              <%= link_to t("helpers.link.layer.export_geojson"), layer_path(layer, format: :geojson), download: "#{layer.name}.geojson" %>
              <%= link_to t("helpers.link.layer.export_csv"), layer_path(layer, format: :csv), download: "#{layer.name}.csv" %>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
