<div
  id="<%= dom_id(layer) %>"
  class="layer-container"
  data-controller="layer"
  data-layer-layer-outlet=".layer-container.is-active"
  data-layer-map-outlet=".map_document__container"
  data-layer-add-feature-text-value="<%= t("common.add_geometry.#{layer.geometry_type}") %>"
  data-layer-geometry-type-value="<%= layer.geometry_type %>">

  <%= render "layers/table_header", layer: layer %>

  <div class="layer-table__body">
    <%= render "layers/rows", layer: layer %>

    <%= render "rows/new", row: Row.new(layer: layer) %>

    <footer class="layer-footer">
      <div class="form__buttons-bar">
        <% if layer.geometry_point? %>
          <%= link_to new_layer_row_path(layer), title: t(".simplified_form_explanation"),
                class: "button button--slim button--link",
                target: "_blank", rel: "noopener",
                data: {restricted_target: "restricted", restricted_authorizations: '["owner", "editor", "contributor"]'} do %> <%# Cf policy(layer).edit? %>
            <%= t(".new_point_form") %>
          <% end %>
        <% end %>
        <%= link_to layer, title: t("helpers.link.layer.delete"),
              class: "icon-button icon-button--small",
              data: {turbo_method: :delete, turbo_confirm: t("common.confirm"),
                     restricted_target: "restricted", restricted_authorizations: '["owner"]'} do %> <%# Cf policy(layer).destroy? %>
          <%= embedded_svg "supprimer.svg" %>
        <% end %>
        <%= link_to geojson_layer_path(layer), title: t("helpers.link.layer.geojson_export"),
              class: "icon-button icon-button--small", download: "#{layer.name}.geojson" do %>
          <%= embedded_svg "exporter.svg" %>
        <% end %>
      </div>
    </footer>
  </div>
</div>
