<div
  id="<%= dom_id(layer) %>"
  class="layer-container"
  data-controller="layer"
  data-layer-layer-outlet=".layer-container.is-active"
  data-layer-map-outlet=".map_document__container"
  data-layer-add-feature-text-value="<%= t("common.add_geometry.#{layer.geometry_type}") %>"
  data-layer-geometry-type-value="<%= layer.geometry_type %>">

  <%= render "layers/table_header", layer: layer %>

  <div class="layer-table__body">
    <%= render "layers/rows", layer: layer %>

    <footer class="layer-footer">
      <div data-restricted-target="restricted" data-restricted-authorizations="<%= %w[owner editor contributor].to_json %>"> <%# Cf policy(layer).edit? %>
        <%= link_to t("helpers.link.layer.add_point"), new_layer_row_path(layer) if layer.geometry_point? %>
      </div>
      <div class="layer-footer__icon">
        <%= link_to layer, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")}, title: t("helpers.link.layer.delete") do %>
          <%= embedded_svg "delete.svg" %>
        <% end %>
      </div>
      <div class="layer-footer__icon">
        <%= link_to geojson_layer_path(layer), download: "#{layer.name}.geojson", title: t("helpers.link.layer.geojson_export") do %>
          <%= embedded_svg "export.svg" %>
        <% end %>
      </div>
    </footer>
  </div>
</div>
