<%# params: layer %>
<%# renders a full table of editable rows for a layer %>

<table class="layer-table">
  <thead class="resizable">
    <tr>
      <% if layer.geometry_territory? %>
        <th><span class="layer-table__header"></span></th>
        <th><span class="layer-table__header"><%= t("common.territory_code") %></span></th>
      <% elsif layer.geometry_point? %>
        <th><span class="layer-table__header"><%= t("common.longitude") %></span></th>
        <th><span class="layer-table__header"><%= t("common.latitude") %></span></th>
      <% elsif layer.geometry_line_string? %>
        <th><span class="layer-table__header"><%= t("common.length") %></span></th>
      <% elsif layer.geometry_polygon? %>
        <th><span class="layer-table__header"><%= t("common.area") %></span></th>
      <% end %>

      <%= render layer.fields %>

      <%= render Field.new(layer: layer) %>
    </tr>
  </thead>
  <tbody id="<%= dom_id(layer, "rows") %>">
  <%= render layer.rows.includes(:territory, *layer.fields_association_names) %>
  </tbody>
</table>

<%= render "rows/new", row: Row.new(layer: layer) %>
