<%# params: layer %>
<%# renders a full table of editable rows for a layer %>

<table class="layer-table">
  <thead class="layer-table__thead">
    <tr>
      <%# calculated columns first %>
      <% if layer.geometry_territory? %>
        <th class="layer-table__th"></th>
        <th class="layer-table__th"><%= t("common.territory_code") %></th>
      <% elsif layer.geometry_point? %>
        <th class="layer-table__th"><%= t("common.longitude") %></th>
        <th class="layer-table__th"><%= t("common.latitude") %></th>
      <% elsif layer.geometry_line_string? %>
        <th class="layer-table__th"><%= t("common.length") %></th>
      <% elsif layer.geometry_polygon? %>
        <th class="layer-table__th"><%= t("common.area") %></th>
      <% end %>

      <%= render layer.fields %>

      <%= render Field.new(layer: layer) %>
    </tr>
  </thead>
  <tbody id="<%= dom_id(layer, :rows) %>">
  <%= render RowComponent.with_collection(layer.rows_with_fields_values.order(:created_at)) %>
  </tbody>
  <tfoot>
    <%= render StatsFooterComponent.new(layer: layer) %>
  </tfoot>
</table>
