<%= turbo_stream_from @layer %>
<nav role="navigation" aria-label="main navigation">
    <div>
      <%= link_to "Ĝis", "/layers", class: "navbar-item" %>
    </div>
    <div>
      <%= form_with(model: @layer) do |form| %>
        <%= form.text_field :name %>
      <% end %>
    </div>
</nav>
<div id="layer_edit" data-controller="map" data-editable="true" data-layer-id="<%=@layer.id%>" data-session-id="<%=@session_id%>" >
    <div id="data_editor" id="data-editor">
        <div>
          <%= text_field :user_name, nil, data: {map_target: "userName"}, placeholder: "your name" %>
        </div>
        <%= render "row_contents/table" %>
    </div>
    <div id="map" data-map-target="map">
        <%= render "row_contents/new", layer: @layer %>
    </div>
</div>
