<%= turbo_stream_from @layer %>
<div id="flexbox-container">
    <div id="metadata-editor">
    <h1>Editing Layer</h1>

    <%= render 'form', layer: @layer %>

    <h3>Fields</h3>
    <ul id="fields">
        <%= render @layer.fields %>
    </ul>

    <h3>Add a new field:</h3>
    <%= render 'fields/form' %>

    <%= link_to 'Show', @layer %> |
    <%= link_to 'Back', layers_path %>
    </div>

    <div id="datas" data-controller="map">
        <div id="data-editor">
            <%= render "points/table" %>
        </div>

        <div id="map" data-map-target="map">
            <%= render 'points/form_template', layer: @layer %>
        </div>
    </div>
</div>
