<%= turbo_stream_from @layer %>
<% content_for :nav do %>
  <h2><%= t('current layer') %></h2>
  <%= form_with(model: @layer) do |form| %>
    <%= form.text_field :name %>
  <% end %>
<% end %>

<div
  class="data-with-map"
  data-controller="map"
  data-map-editable-value="true"
  data-map-layer-id-value="<%= @layer.id %>"
  data-map-session-id-value="<%= @session_id %>">
    <div class="data">
        <div>
          <%= text_field :user_name, nil, data: {map_target: "userName"}, placeholder: "your name" %>
        </div>
        <%= render "row_contents/table" %>
    </div>
    <div class="map" data-map-target="map">
        <%= render "row_contents/new", layer: @layer %>
    </div>
</div>
