<%# params: @layer, @session_id, @user_name %>

<%= turbo_stream_from @layer %>
<div
  class="data-with-map"
  data-action="mousemove@window->dragbar#mousemove mouseup@document->dragbar#mouseup"
  data-controller="map dragbar"
  data-map-editable-value="true"
  data-map-layer-id-value="<%= @layer.id %>"
  data-map-session-id-value="<%= @session_id %>"
  data-map-username-value="<%= @user_name %>"
  data-map-geometry-type-value="<%= @layer.geometry_type %>"
  data-map-color-value="<%= @layer.color %>">
  <div class="data" data-dragbar-target="left">
    <div class="layer-actions">
      <%= link_to t("all_layer"), @layer.map, class: "go-back" %>
      <%= link_to t("download_as_geojson"), geojson_layer_path(@layer), download: "#{@layer.name}.geojson" %>
      <%= link_to t("delete_layer"), @layer, data: {turbo_method: :delete, turbo_confirm: t("delete_confirm")} %>
    </div>
    <%= render "name", layer: @layer %>
    <%= render "rows_rw", layer: @layer %>
    <%= render "tooltip", layer: @layer %>
  </div>
  <div class="dragbar" data-dragbar-target="dragbar" data-action="mousedown->dragbar#mousedown"></div>
  <div class="map" data-map-target="map" data-dragbar-target="right">
    <%= render "rows/new", row: Row.new(layer: @layer) %>
  </div>
</div>
