<%= turbo_stream_from @layer %>
<% content_for :nav do %>
  <div id="layer-header" data-controller="edit-toggle">
    <h2><%= t('current layer') %></h2>
    <h2
      class="editable"
      data-edit-toggle-target="text"
      data-action="click->edit-toggle#edit">
        <%= @layer.name %>
    </h2>
    <%= form_with model: @layer, class: "is-hidden", html: {
      "data-edit-toggle-target": "form",
      "data-action": "focusout->edit-toggle#submit"
      } do |form| %>
      <%= form.text_field :name %>
    <% end %>
  </div>
<% end %>

<div
  class="data-with-map"
  data-action="mousemove@window->dragbar#mousemove mouseup@document->dragbar#mouseup"
  data-controller="map dragbar"
  data-map-editable-value="true"
  data-map-layer-id-value="<%= @layer.id %>"
  data-map-session-id-value="<%= @session_id %>"
  data-map-username-value="<%= @user_name %>">
    <div class="data edit" data-dragbar-target="left">
      <%= render "row_contents/table" %>
      <%= render partial: "tooltip", locals: {layer: @layer} %>
    </div>
    <div class="dragbar" data-dragbar-target="dragbar" data-action="mousedown->dragbar#mousedown"></div>
    <div class="map" data-map-target="map" data-dragbar-target="right">
        <%= render "row_contents/new", layer: @layer %>
    </div>
</div>
