<%# params: @layer, @session_id, @user_name %>

<%= turbo_stream_from @layer %>
<div
  class="data-with-map"
  data-action="mousemove@window->dragbar#mousemove mouseup@document->dragbar#mouseup"
  data-controller="map dragbar"
  data-map-editable-value="true"
  data-map-layer-id-value="<%= @layer.id %>"
  data-map-session-id-value="<%= @session_id %>"
  data-map-username-value="<%= @user_name %>"
  data-map-geometry-type-value="<%= @layer.geometry_type %>"
  data-map-color-value="<%= @layer.color %>">
  <div class="data" data-dragbar-target="left">
    <div class="layer-actions">
      <%= link_to t(".map"), @layer.map, class: "go-back" %>
      <%= render "name", layer: @layer %>
      <div class="layer-actions-right">
        <%= link_to t(".export"), geojson_layer_path(@layer), download: "#{@layer.name}.geojson", class: "export" %>
        <%= link_to t("helpers.link.layer.delete"), @layer, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")}, class: "delete" %>
      </div>
    </div>
    <%= render "rows_rw", layer: @layer %>
    <%= render "tooltip", layer: @layer %>
  </div>
  <div class="dragbar" data-dragbar-target="dragbar" data-action="mousedown->dragbar#mousedown">
    <%= image_tag "dragbar_cursor.svg", class: "svg-dragbar" %>
  </div>
  <div class="map" data-map-target="map" data-dragbar-target="right">
  </div>
</div>
