<%= turbo_stream_from @layer %>
<div class="columns is-full-height m-0" data-controller="map">
    <div class="is-2 column">
    <h1>Editing Layer</h1>

    <%= render 'form', layer: @layer %>

    <h3>Fields</h3>
    <ul id="fields">
        <%= render @layer.fields %>
    </ul>

    <h3>Add a new field:</h3>
    <%= render 'fields/form' %>

    <%= link_to 'Show', @layer %> |
    <%= link_to 'Back', layers_path %>
    </div>

    <div class="is-3 column" id="data-editor">
        <%= render "points/table" %>
    </div>

    <div class="is-full-height column" id="map" data-map-target="map">
        <%= render 'points/form_template', layer: @layer %>
    </div>
</div>
