<div id="flexbox-container">
    <div id="data-editor">
    <h1>Editing Layer</h1>

    <%= render 'form', layer: @layer %>

    <h3>Fields</h3>
    <ul>
    <%= turbo_frame_tag "fields" do %>
        <%= render @layer.fields %>
    <% end %>
    </ul>

    <h3>Add a new field:</h3>
    <%= render 'fields/form' %>

    <%= link_to 'Show', @layer %> |
    <%= link_to 'Back', layers_path %>
    </div>

    <div id="map" data-controller="map"></div>
</div>
