<%# params: @layer %>

<%= form_with(model: @layer, id: dom_id(@layer, :form), class: "form card__main-content") do |form| %>
  <%= form.hidden_field :map_id %>
  <% if @layer.new_record? %>
    <h2 class="form__header"><%= t(".new") %></h2>
  <% end %>
  <%= render "form_contents", form: form %>
<% end %>

<div class="card__footer-content">
  <%= submit_tag t(@layer.new_record? ? :create : :update, scope: "helpers.submit.layer"), class: "button button--confirm",
        form: dom_id(@layer, :form), data: {turbo_frame: "_top"} %>

  <% if @layer.persisted? && policy(@layer).destroy? %>
    <%= button_to @layer, method: :delete, class: "button button--delete button--lowercase",
          data: {turbo_confirm: t("common.confirm"), turbo_frame: "_top"} do %>
      <%= t("helpers.link.layer.delete") %>
    <% end %>
  <% end %>
</div>
