<%# params: @layer %>

<div class="centered-main">
  <h2><%= t :new_layer %></h2>
  <%= form_with(model: @layer) do |form| %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field radio">
      <h3><%= form.label :geometry_type %></h3>
      <%= form.collection_radio_buttons :geometry_type, Layer.enum_geometry_types.keys, :to_s, :titlecase, disabled: [:linestring, :territory], checked: Layer.enum_geometry_types.first  do |b| %>
        <%= b.label { b.radio_button + b.text } %>
      <% end %>
    </div>

    <div class="actions">
      <%= link_to t("back"), layers_path, class: "secondary-action" %>
      <%= form.submit class: "primary-action" %>
    </div>
  <% end %>


</div>
