<%# params: @layer %>

<div
  class="centered-main new-layer"
  data-controller="color-selector"
  data-color-selector-default-value="<%= Layer::COLORS[:blue] %>">
  <h2><%= t("helpers.link.layer.new") %></h2>
  <%= form_with(model: @layer) do |form| %>
    <%= form.hidden_field :map_id %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <h3><%= Layer.human_attribute_name(:color) %></h3>
    <div class="color-selection">
      <% Layer::COLORS.each do |key, rgb| %>
        <div>
          <%= form.radio_button :color, rgb, checked: key == :blue, data: {color: rgb, action: "color-selector#selected"} %>
          <%= form.label :color, t(key, scope: "colors"), value: rgb %>
        </div>
      <% end %>
    </div>

    <h3><%= form.label :geometry_type %></h3>
    <div class="geometry-type-selector">
        <% Layer.geometry_types.keys.each do |type| %>
          <%= form.label "geometry_type_#{type}" do %>
            <%= form.radio_button :geometry_type, type, checked: type == "point" %>
            <div>
              <div data-color-selector-target="icon"><%= embedded_svg "#{type}.svg" %></div>
              <%= Layer.human_attribute_name(type).capitalize %>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class="actions">
      <%= link_to t("common.back"), map_path(@layer.map), class: "secondary-action" %>
      <%= form.submit class: "primary-action" %>
    </div>
  <% end %>

</div>
