<%# params: @layer, @role_type %>

<%= turbo_stream_from @layer %>
<%= turbo_stream_i18n_from @layer %>
<div
  class="data-with-map"
  data-action="mousemove@window->dragbar#mousemove mouseup@document->dragbar#mouseup"
  data-controller="map dragbar restricted"
  data-map-layer-id-value="<%= @layer.id %>"
  data-map-geometry-type-value="<%= @layer.geometry_type %>"
  data-map-color-value="<%= @layer.color %>"
  data-restricted-role-value="<%= "#{@role_type}-#{current_user.id}" %>">
  <div class="data" data-dragbar-target="left">
    <div class="layer-actions action-bar">
      <%= link_with_icon t(".map"), @layer.map, "chevron_left.svg" %>
      <%= render "name", layer: @layer %>
      <div class="layer-actions-right">
        <%= link_with_icon t(".export"), geojson_layer_path(@layer), "export.svg", download: "#{@layer.name}.geojson" %>
        <%= link_with_icon t("helpers.link.layer.delete"), @layer, "delete.svg", data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} %>
      </div>
    </div>
    <div class="table-container">
      <%= render "rows", layer: @layer %>
    </div>
  </div>
  <div class="dragbar" data-dragbar-target="dragbar" data-action="mousedown->dragbar#mousedown">
    <%= image_tag "dragbar_cursor.svg", alt: t("common.dragbar_cursor"), class: "svg-dragbar" %>
  </div>
  <div data-dragbar-target="right" class="right-pane">
    <div class="layer-actions action-bar">
      <%= button_with_icon t("common.frame"), "frame.svg", data: {action: "click->map#centerToContent"} %>
<<<<<<< HEAD
=======
      <a download="<%= @layer.name + ".png" %>" data-action="map#exportMapAsImage" class="link-download"><%= embedded_svg("download.svg", class: "download") %> download</a>
>>>>>>> 233f3a9 (feat: change name of function and add some comments in map helpers)
      <%= button_with_icon t("common.colors"), "color.svg", style: "display: none;" %>
      <%= button_with_icon t("common.add"), "add_circle.svg", data: {action: "click->map#toggleMode", map_target: "addButton"} unless @layer.geometry_territory? %>
    </div>
    <div class="map" data-map-target="map">
    </div>
  </div>
</div>
