<p id="notice"><%= notice %></p>
<div>
    <h2><%= t :layer%><%= @layer.name %></h2>
    <%= t :type%><%= @layer.geometry_type %>
    <h3><%= t :fields %></h2>
    <ul>
    <% @layer.fields.each do |field| %>
        <li> <%= render field %> </li>
    <% end %>
    </ul>
</div>

<%= link_to t('edit'), edit_layer_path(@layer) %> |
<%= link_to t('back'), layers_path %>
