<%= turbo_stream_from @layer %>
<p id="notice"><%= notice %></p>
<nav role="navigation" aria-label="main navigation">
    <div>
      <%= link_to t('edit'), edit_layer_path(@layer) %> |
      <%= link_to t('back'), layers_path %>
    </div>
</nav>

<div>
    <h2><%= t :layer%><%= @layer.name %></h2>
    <%= t :type%><%= @layer.geometry_type %>
</div>

<div class="data-with-map" data-controller="map">
    <div class="data">
        <%= render "row_contents/table_show" %>
    </div>
    <div class="map" data-map-target="map">
    </div>
</div>

