<%= form_with(model: role.new_record? ? [role.map, role] : role) do |form| %>
  <% if role.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <% end %>

  <%= form.label :role_type %>
  <%= form.select :role_type, options_for_select(Role.role_types, role.role_type) %>

  <div>
    <%= form.submit t("helpers.link.role.create") %>
  </div>
<% end %>
