<tr id="<%= dom_id(row_content) %>"
    data-map-target="point"
    data-lng="<%= row_content.point.x %>"
    data-lat="<%= row_content.point.y %>"
    data-controller="row"
    data-action="focusout->row#focusOut"
>
    <% row_content.layer.fields.each do |field| %>
        <%= render partial: "fields/field_in_form", locals: {field: field, value: row_content.values[field.id], form: row_content.id} %>
    <% end %>
    <td class="row-actions" id="<%= row_content.id %>-action">
        <div class="is-flex row-action-buttons">
            <%= form_with method: :patch, model: row_content, id: row_content.id, data: {"row-target": "form"} do |form| %>
                <%= form.button method: :update, class: "button icon is-primary p-2", disabled: true, data: {"row-target": "save", "action": "row#setLoading"} do %>
                    <span class="fas fa-fw"><%= fa_icon "save" %></span>
                <% end %>
            <% end %>
            <%= button_to row_content, method: :delete, class: "button icon is-danger p-2" do %>
                <span class="fas fa-fw"><%= fa_icon "trash-o" %></span>
            <% end %>
        </div>
    </td>
</tr>
