<td class="field field-<%= field.id %> <%= "numerical" if field.numerical? %>">
  <% if field.numerical? %>
    <%= number_field_tag "row_content[#{field.id}]", nil, id: field.id, class: "input", value: value, data: {action: "row#setModified focusin->row#focusIn"}, form: row_id %>
  <% elsif field.field_type == "territory" %>
    <%= render partial: "territories/search_form", locals: {field_id: field.id, value: value, row_id: row_id}%>
  <% else %>
    <%= text_field_tag "row_content[#{field.id}]", nil, id: field.id, class: "input", value: value, data: {action: "row#setModified focusin->row#focusIn"}, form: row_id %>
  <% end %>
</td>
