<%= form_with model: Field.new do |form| %>
  <%= form.hidden_field :layer_id, value: @layer.id %>
  <div class="field">
    <%= form.label "Field label" %>
    <%= form.text_field :label %>
  </div>

  <div class="field radio">
    <h3>Field type</h3>
    <%= form.collection_radio_buttons :field_type, Field.enum_field_types.keys, :to_s, :titlecase %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
