<!--
params:
  field
-->

<%= form_with model: field, data: {action: "dropdown#toggle"} do |form| %>
  <%= form.hidden_field :layer_id %>
  <div>
    <%= form.label :label, t("field label") %>
    <%= form.text_field :label, class: "slim" %>
  </div>

  <div>
    <%= form.label :field_name, t("field type") %>
    <div class="slim">
      <%= form.collection_radio_buttons(:field_type, Field.enum_field_types.keys, :to_s, :titlecase, checked: Field.enum_field_types.keys.first) do |b| %>
        <%= b.label(class: "radio") do %>
          <%= b.radio_button class: "slim" %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit class: "submit_form slim" %>
  </div>
<% end %>
