<%# params: map, role_type, current_user_id %>
<%# displays two panes with a dragbar in the middle to resize them %>

<div
  class="data-with-map"
  data-controller="map dragbar restricted"
  data-map-map-id-value="<%= map.id %>"
  data-map-default-longitude-value="<%= map.default_longitude %>"
  data-map-default-latitude-value="<%= map.default_latitude %>"
  data-map-default-zoom-value="<%= map.default_zoom %>"
  data-restricted-role-value="<%= "#{role_type}-#{current_user_id}" %>">
  <div class="data" data-dragbar-target="left">
    <%= content_for?(:left_pane) ? yield(:left_pane) : "missing content" %>
  </div>
  <div class="dragbar" data-dragbar-target="dragbar">
    <%= image_tag "dragbar_cursor.svg", alt: t("common.dragbar_cursor"), class: "svg-dragbar" %>
  </div>
  <div data-dragbar-target="right" class="right-pane">
    <%= yield(:right_pane) %>
  </div>
</div>
