<!DOCTYPE html>
<html>
  <head>
    <title>Ĝis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
