<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t("common.app_title") %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render "application/favicon" %>
  <%= render "layouts/sentry" %>

  <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.1/mapbox-gl-draw.css' type='text/css'>
  <link href='https://ga.jspm.io/npm:@maplibre/maplibre-gl-geocoder@1.5.0/dist/maplibre-gl-geocoder.css' rel='stylesheet'>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
</head>

<body>

<%= turbo_frame_tag "modal" %>
<%= render "shared/flash" %>
<%= render "layouts/header" %>

<main>
  <%= yield %>
</main>
<footer class="footer__application">
  <p><%= t(".footer_html") %></p>
</footer>
</body>
</html>
