<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ĝxis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.css' rel='stylesheet' />
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "/main.css", "data-turbo-track": "reload" %>
  </head>
<body>
<%=yield %>

</body>
</html>