<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t("common.app_title") %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render "application/favicon" %>

  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
</head>

<body class="landing-page__body">
<header class="header header--large">
  <nav class="header__nav">
    <h1>
      <%= link_to root_path, class: "header__logo header__logo--large", title: t("common.app_title") do %>
        <%= embedded_svg("cocato_logotype_couleur.svg", class: "header__logo--large") %>
      <% end %>
    </h1>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <div class="header__right">
      <%= link_to t("layouts.application.sign_in"), new_user_session_path, class: "button button--large button--link" %>
      <%= link_to t("layouts.application.sign_up"), new_user_registration_path, class: "button button--large button--confirm" %>
      <div class="dropdown" data-controller="dropdown">
        <button class="button button--large button--icon button--double" role="button" aria-haspopup="menu" aria-label="<%= t("layouts.application.change_language") %>" aria-controls="languages-selector" data-action="click->dropdown#toggle" data-dropdown-target="trigger">
          <%= embedded_svg("language-selector.svg") %>
        </button>
        <div id="languages-selector" class="dropdown__content" data-dropdown-target="content">
          <div class="card__main-content card__main-content--slim">
            <%= link_to "English", url_for(locale: :en) %>
            <%= link_to "Français", url_for(locale: :fr) %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <%= yield %>
</main>
<footer class="footer__application">
  <p><%= t("layouts.application.footer_html") %></p>
</footer>
</body>
</html>
