<%# params: row %>
<%# renders a non-editable row in a table. used in layers/rows_ro %>

<tr id="<%= dom_id(row) %>"
    data-controller="row">
  <%= hidden_field_tag "geojson", row.geojson, data: {"row-target": "geojson"} %>
  <% row.fields_values.each do |field, value| %>
    <% if field.numerical? %>
      <td class="numerical"><%= value %></td>
    <% elsif field.boolean? %>
      <td><%= check_box_tag "row[#{field.id}]", "boolean", value, disabled: true %></td>
    <% else %>
      <td><%= value %></td>
    <% end %>
  <% end %>
</tr>
