<% if @field.present? %>
  <%= form_with method: :patch, model: [@row.layer, @row], multipart: true, html: {class: "form"} do |f| %>
    <div class="card__main-content">
      <h2 class="form__header"><%= t "field.attachments" %></h2>
      <div class="form__section">
        <label><%= @field.label %></label>
        <%= render FileFieldComponent.new(field: @field, row: @row) %>
      </div>
    </div>
    <div class="card__footer-content">
      <%= f.submit t("common.save"), class: "button button--confirm" %>
    </div>
  <% end %>
<% else %>
  <%= render "form", row: @row, from_rows_new: false %>
<% end %>
