<%# params: row %>

<div
  class="add-single-row__container"
  data-controller="map-add-point"
  data-map-add-point-default-longitude-value="<%= @row.layer.map.default_longitude %>"
  data-map-add-point-default-latitude-value="<%= @row.layer.map.default_latitude %>"
  data-map-add-point-default-zoom-value="<%= @row.layer.map.default_zoom %>">
  <div class="add-single-row__map" data-map-add-point-target="map">
    <%= embedded_svg "center.svg", class: "add-single-row__crosshair" %>
  </div>
  <div class="add-single-row__form">
    <%= render "form", row: @row, from_rows_new: true %>
  </div>
</div>
